In [1]:
import pandas as pd
import numpy as np

In [18]:
# Change filename for prepared mesh here:
filename = 'mesh_lemb_v15_7236nodes'

full_filename = 'prepared_meshes/' + filename
nodes = pd.read_csv(full_filename  + '/nodes_df.csv', sep=',', names=['nid', 'x', 'y'])

elem_names = ['eid', 'pid'] + ['n'+str(i) for i in range(1, 5)]
elements = pd.read_csv(full_filename + '/elements_df.csv', sep=',',
                       names=elem_names)

#### Здесь можно посмотреть, на то какие элементы, где находятся, чтобы понимать куда прикладывать силу, куда записывать граничные условия и т.д.

In [32]:
max(nodes.nid.values)

6426

In [19]:
nodes[(np.abs(nodes.x) < 0.1) & (nodes.y == 2)]

     nid         x    y
132   68  0.037594  2.0
134   69 -0.037594  2.0

In [20]:
elements[elements.n1 == 132]

     eid  pid   n1   n2   n3   n4
130  131    1  132  133  503  502

In [35]:
nodes[nodes.nid == 90]

     nid    x        y
482   90  5.0 -1.46667

In [18]:
nodes[nodes.nid == 52]

     nid    x        y
554   52 -5.0 -1.73333

In [16]:
nodes[nodes.nid == 120]

    nid             x        y
37  120  1.110220e-16  1.73333

In [7]:
nodes[nodes.x >= 2]

    nid        x    y
0     1  3.00000  1.5
1     3  2.14286  1.5
2    21  2.14286  0.5
3    20  3.00000  0.5
16   27  2.14286 -0.5
17   19  3.00000 -0.5
24   18  2.14286 -1.5
25   12  3.00000 -1.5

In [50]:
nodes[nodes.nid == 330]

     nid             x    y
101  330 -8.326670e-17  1.9

In [28]:
elements[elements.n1 == 52].iloc[:, 2:].values[0]

array([ 52,  53, 331, 330])

In [33]:
nodes[(nodes.y == 1) & (nodes.x == 0)]

       nid    x    y
1060  1221  0.0  1.0