In [2]:
import pandas as pd
import numpy as np

In [12]:
# Change filename for prepared mesh here:
filename = 'test_lemb_v2_4141nodes'

full_filename = 'prepared_meshes/' + filename
nodes = pd.read_csv(full_filename  + '/nodes_df.csv', sep=',', names=['nid', 'x', 'y'])

elem_names = ['eid', 'pid'] + ['n'+str(i) for i in range(1, 5)]
elements = pd.read_csv(full_filename + '/elements_df.csv', sep=',',
                       names=elem_names)

#### Здесь можно посмотреть, на то какие элементы, где находятся, чтобы понимать куда прикладывать силу, куда записывать граничные условия и т.д.

In [13]:
max(nodes.nid.values)

4141

In [14]:
nodes[(nodes.nid == 18)]

    nid    x    y
32   18  3.4  2.0

In [39]:
elements[elements.eid == 51]

    eid  pid  n1  n2   n3   n4
50   51    1  52  53  331  330

In [44]:
nodes[nodes.nid == 52]

     nid    x    y
100   52  0.0  2.0

In [51]:
nodes[nodes.x == 0]

       nid    x             y
100     52  0.0  2.000000e+00
555    726  0.0  1.500000e+00
757    924  0.0  1.300000e+00
959   1122  0.0  1.100000e+00
1060  1221  0.0  1.000000e+00
1262  1419  0.0  8.000000e-01
1464  1617  0.0  6.000000e-01
1565  1716  0.0  5.000000e-01
1767  1914  0.0  3.000000e-01
1868  2013  0.0  2.000000e-01
1969  2112  0.0  1.000000e-01
2070  2211  0.0  1.730220e-17
2171  2310  0.0 -1.000000e-01
2272  2409  0.0 -2.000000e-01
2373  2508  0.0 -3.000000e-01
2474  2607  0.0 -4.000000e-01
2575  2706  0.0 -5.000000e-01
2676  2805  0.0 -6.000000e-01
2777  2904  0.0 -7.000000e-01
2878  3003  0.0 -8.000000e-01
2979  3102  0.0 -9.000000e-01
3080  3201  0.0 -1.000000e+00
3181  3300  0.0 -1.100000e+00
3282  3399  0.0 -1.200000e+00
3383  3498  0.0 -1.300000e+00
3484  3597  0.0 -1.400000e+00
3585  3696  0.0 -1.500000e+00
3686  3795  0.0 -1.600000e+00
3787  3894  0.0 -1.700000e+00
3888  3993  0.0 -1.800000e+00
3989  4092  0.0 -1.900000e+00
4090   192  0.0 -2.000000e+00

In [50]:
nodes[nodes.nid == 330]

     nid             x    y
101  330 -8.326670e-17  1.9

In [28]:
elements[elements.n1 == 52].iloc[:, 2:].values[0]

array([ 52,  53, 331, 330])

In [33]:
nodes[(nodes.y == 1) & (nodes.x == 0)]

       nid    x    y
1060  1221  0.0  1.0